.fondocajacomen{
  background: #ff7b7b;
  border-radius: 2%;
}
.margen{
  margin: 5%;
}
.margenboton{
  margin-left: 60%;
  background: #d67bff;
}
.busqueda{
  margin-left: 40%;
}

.sangria{
  margin-left: 10%;
}
